.RoomInfo-container .text-container {
    position: relative;
    padding: 40px ;
}

.RoomInfo-container .text-container h1{
    font-size: 120px;
    font-weight: 500;
    opacity: 0.1;
    font-family: serif;
    position: absolute;
    top: -20px;
}

.RoomInfo-container .text-container h2 {
    font-size: 45px;
    font-family: serif;
    font-weight: 400;
    color: rgb(163, 36, 36);
}

.RoomInfo-container .rooms-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.RoomInfo-container .rooms-container .room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RoomInfo-container .rooms-container .room-container .book-container h1{
    color: rgb(163, 36, 36);
}

.RoomInfo-container .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    background-color: rgb(163, 36, 36);
}

.RoomInfo-container .form-container form {
    height: 50%;
    display: flex;
    align-items: center;
    gap: 1%;
    width: 70%;
    justify-content: center;
}

.RoomInfo-container .form-container form input {
    height: 100%;
    width: 18%;
}

.RoomInfo-container .form-container form input:nth-last-child(1) {
    background: rgb(225, 105, 20);
    font-weight: bold;
    padding: 0 2px;
}